.root{
    -fx-background-color: royalblue  ;
}

Button {
    -fx-text-fill: white ;
    -fx-font-family: "Courier";
    -fx-font-weight: bold;
    -fx-background-color: firebrick;
    -fx-border-radius: 15px 50px 30px 5px;;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover{
    -fx-background-color: tomato;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: midnightblue ;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}